@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*---------font-family---------*/
.ff_chewy {
    font-family: 'Chewy', sans-serif;
}
body {
    font-family: 'Balsamiq Sans', sans-serif;
}

/* root  */
:root { 
    --dark-green: #0a4740;
    --sky: #23AAAC;
    --off-green: #09655A;
}
/*--------color-----*/

.text-sky {
    color: var(--sky);
}
.bg-light-green {
    background-color: var(--light-green);
}

.bg-dark-green {
    background-color: var(--dark-green);
}

.bg-off-green {
    background-color: var(--off-green);
}

